header{
    height:  50px;
    display: flex;
    flex-direction: row;
    
}

body {
    margin: 0%;
    padding: 0%;
    background-color: gray;
}

.retangulo {
   flex: 1;
   background-color: rgb(255, 0, 0);
   width: 100%;
   text-align: center;
}

section {
    display: flex;
    flex-direction: row;
}
.section-column {
    flex: 1;
    display: flex;
    background-color: rgb(194, 39, 39);
    flex-direction: column;
    height: 250px;
    margin: 2%;
    text-align: center;
}

nav{
    display: flex;
    flex-direction: row;
    flex: 1;
    height: 80px;

}

.item-menu1 {
    flex: 1;
    background-color: rgb(255, 0, 0);
    margin: 10px;
    margin-left: 2%;
}
.item-menu2 {
    flex: 1;
    background-color: red;
    margin: 10px;
}
.item-menu3 {
    flex: 1;
    background-color: red;
    margin: 10px;
}
.item-menu4 {
    flex: 1;
    background-color: red;
    margin: 10px;
    margin-right: 2%;
}

.section-column2 {
    flex: 1;
    display: flex;
    flex-direction: row;
    height: 450px;
    margin: 2%;
}

    .rectangle2 {
    flex: 1;
    background-color: rgb(255, 255, 255);
    margin: 10px;
   }
   .rectangle3 {
    flex: 1;
    background-color: rgb(255, 255, 255);
    margin: 10px;
   }

   .section-column3 {
    flex: 1;
    display: flex;
    flex-direction: row;
    height: 200px;
    margin: 2%;
}

    .rectangle4 {
    flex: 1;
    background-color: rgb(194, 39, 39);
    margin: 10px;
   }
   .rectangle5 {
    flex: 3;
    background-color: rgb(194, 39, 39);
    margin: 10px;
   }